body, a {
  transition: all 1s;
}

body {
  margin:0;
}
input {
  margin-top:5px;
  margin-left:5px;
}
h1 {
  font-size:45;
  border-bottom:1px solid gray;
  text-align:center;
  margin:0;
  padding:20px;
  padding-top:0;
}
#link {
  display:grid;
  grid-template-columns:200px 1fr ;
}
#link #build {
  border-right:1px solid gray;
  width:150;
  margin: 0;
  padding-top:20px;
}
#link h6 {
  font-size:15px;
  color:rgb(99,48,182);
  padding-left:30px;
  padding-bottom:20px;
  margin:0;
}
#link ol {
  margin:0;
  width: 150px;
  padding-right:20px;
}
#link a {
  text-decoration:none;
}

/* index.html */
#main {
  padding:20px;
}

/* 2.html */
#columns {
  column-count:5;
  column-width:250px;
  column-gap:15px;
}

#columns figure {
  display:inline-block;
  border:1px solid gray;
  margin:0;
  margin:10px;
  padding:5px;
  box-shadow: 5px 5px 5px gray;
}

#columns figure img {
  width:100%;
}

#columns figcaption {
  border-top:1px solid gray;
  padding:10px;
  margin-top:5px;
}

